@CHARSET "UTF-8";

body {background-color: #2A3744;}

.imageGallery {margin: 0px 100px 0px 100px;
width:100%;}

.header {background-color: black;
		height:150px;
		width:100%;
		text-align: center;}

#companyName {color:white;
				font-size:2.3em;
				padding:50px 0px 30px 0px;}

.image {float:left;
	margin:50px 0px 0px 5px;}

#imagePhoto {height:200px;
		width:200px;}
		
p {color:white;}

.footer {height:200px;
		clear:both;}

img:hover {margin: -2px -2px -2px 3px;
		border:2px solid white;
		 opacity: .5;}



		
